.main form {
    max-width: 300px;
    margin: 0 auto;
}

.main h3 {
    margin:  0 auto;
    width: 400px;
    margin-bottom: 30px;
}

@media screen and (min-width:321px) and (max-width:768px) {

    .header {
        height: unset;

    }

    .header h2 {
        margin-left: 30px;
        float: none;
    }

    .main h3 {
        margin:  0 auto;
        width: 300px;
        margin-bottom: 30px;
    }

}